.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 121px !important;
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      font-family: $fontFamilyText;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #9893a3;
      margin-right: 36px;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: #2f2e41;
        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 4px;
          background-color: #9e99ff;
          position: absolute;
          margin-top: 5px;
        }
      }
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    min-width: 258px;
  }
  &__menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    .nav {
      display: none;
    }
    &__buttons {
      display: none;
    }
    &__menu {
      display: block;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}
