.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    &:last-child {
      margin-right: 0;
    }
  }
  margin-bottom: 220px;
}

@media (max-width: 768px) {
  .partners {
    margin-bottom: 140px;
  }
}
