.plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 220px;
  h2 {
    width: 100%;
    text-align: center;
    font-family: $fontFamilyHeading;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2f2e41;
    margin-bottom: 130px;
  }
  div {
    padding: 46px 0;
    width: 30%;
    max-width: 363px;
    background: rgba(236, 235, 255, 0.3);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
      background: rgba(108, 99, 255, 1);
      h3 {
        color: #ffffff;
        span {
          color: #ffffff;
        }
      }
      p {
        color: rgba(255, 255, 255, 0.8);
        &:first-child {
          color: #ffffff;
        }
      }
    }
    h3 {
      font-family: $fontFamilyText;
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 56px;
      text-align: center;
      letter-spacing: -2px;
      color: #2f2e41;
      margin: 30px 0;
      span {
        font-weight: 400;
        font-size: 18px;
        line-height: 56px;
        text-align: center;
        color: #2f2e41;
      }
    }
    p {
      font-family: $fontFamilyText;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      color: #717082;
      margin-bottom: 14px;
      &:first-child {
        margin-bottom: 0;
      }
    }
    a {
      margin-top: 30px;
    }
  }
}

@media (max-width: 768px) {
  .plan {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 140px;
    div {
      width: 100%;
      max-width: none;
      margin-bottom: 45px;
    }
  }
}
